# LND
alias=lnd-pod
color=#FFFFFF
listen=0.0.0.0:9735
restlisten=0.0.0.0:8080
#rpclisten=0.0.0.0:10009
#tlsextraip=<extra_ip_1>
#tlsextraip=<extra_ip_2>
wallet-unlock-password-file=/app/data/lnd/walletpass.txt
wallet-unlock-allow-create=true

# Bitcoin
bitcoin.node=bitcoind
# bitcoin.mainnet=true
# bitcoin.testnet=true
# bitcoin.simnet=true
# bitcoin.regtest=true
# bitcoin.signet=true
bitcoind.rpcuser=bitcoin
bitcoind.rpcpass=bitcoin
bitcoind.rpchost=<bitcoin_host>
bitcoind.rpcpolling=true
